html {
  --placeholder-color: grey;
  --main-to-screen-proportion: 60%;
}

::placeholder {
  color: var(--placeholder-color);
  transition: opacity 250ms ease-in-out;
}

:focus::placeholder {
  opacity: 0.5;
}

.App-landscape {
  text-align: center;
  height: calc(100% - 48px);
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-portrait {
  text-align: center;
  height: calc(200% - 96px);
  width: 100%;
  position: fixed;
  transition: transform 0.3s ease;
}
.App-portrait.scrolled {
  transform: translateY(-50%);
}

.App-main-landscape {
  text-align: center;
  height: calc(100vh - 48px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: var(--main-to-screen-proportion);
}

.App-main-portrait {
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-main-intro, .App-main-inspiration {
  cursor: default;
  font-size: large;
  border-bottom: solid 1px lightgrey;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #eee;
  z-index: 1;
}
.App-main-intro {
  min-height: 52px;
}
.App-main-inspiration {
  max-height: 40px;
  transition: max-height 250ms ease, padding 250ms ease, margin-top 250ms ease, border-color 250ms ease;
  align-items: flex-end;
  justify-content: center;
  font-size: normal;
  color: var(--main-color);
  width: 100%;
  z-index: 0;
}
.App-main-inspiration.closed {
  text-align: center;
  max-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -1px;
  border-color: transparent;
}

.App-main-intro > p {
  margin: 0 10px;
  flex-grow: 1;
}
.App-main-inspiration > p {
  margin: 0 0px;
}
.App-main-inspiration > i {
  margin: 0 0px;
  margin-left: 24px;
  margin-bottom: 1px;
  font-size: 18px;
}
.App-main-intro > i {
  margin: 0 10px;
}

.App-main-footer {
  width: 100%;
  min-height: 54px;
  max-height: 54px;
  color: gray;
  border-top: solid 1px lightgrey;
  text-overflow: ellipsis;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App-main-footer > p, i {
  margin: 14px;
}

.App-main-text-entry {
  border: none;
  outline: none;
  font: inherit;
  font-size: normal;
  color: #000;
  resize: none;
  width: 100%;
  padding: 5%;
  background-color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex-grow: 1;
}

.App-history-landscape {
  border-left: solid 1px grey;
  flex-grow: 1;
  min-width: calc(100% - var(--main-to-screen-proportion));
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-history-portrait {
  /*border-top: solid 1px grey;*/
  width: 100%;
  height: calc(50%);
  display: flex;
  flex-direction: column;
}

.history-list {
  overflow-y: scroll;
  flex-grow: 1;
}

.button {
  transition: color 100ms ease, background 250ms ease;
  padding: 0.3em;
  border-radius: 50%;
  color: var(--main-color);
}
.active {
  background: white;
}
.inactive {
  color: darkgrey;
}
.hidden {
  display: none;
}
