html {
  --title-color: white;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  font-family: sans-serif;
  background-color: #eee;
}

.App-bar {
  color: var(--title-color);
  position: fixed;
  white-space: nowrap;
  text-overflow: ellipsis;
  visibility: hidden;
  margin-top: -10%;
  cursor: default;
  transition:
    margin-top 0.3s ease 0.5s,
    visibility 0s ease 0.5s;
}

.App-bar.down {
  margin-top: 0%;
  visibility: visible;
}

#landing-content {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  box-shadow: 0px 0px 12px #6a6a6a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing-content .content {
  color: var(--title-color);
  padding-left: 10px;
  text-align: center;
  font-size: 1.5rem;
  margin: 10%;
  margin-bottom: 30%;
}
#landing-content .content > p {
  margin-top: 5%;
}
#landing-content .content > h1 {
  margin-bottom: 0%;
}

#start-button {
  color: var(--main-color);
  background: var(--title-color);
  border: none;
  border-radius: 8px;
  font-size: 125%;
  padding: 12px;
  outline: none;
  font-weight: bold;
  transition: background 0.2s linear;
}
#start-button:hover {
  background: #f0f0f0;
}
#start-button.clicked {
  background: #e0e0e0;
}

#landing-content.clicked {
  height: 48px;
  transition: height 0.4s ease;
}

#landing-content.clicked .content {
  margin-top: -100%;
  transition:
    margin-top 0.5s ease,
    visibility 0s ease 0.5s;
  visibility: hidden;
}
